body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
  }


.login-signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Garante que ocupa toda a altura da tela */

}

.container {
    
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 32px;
    margin: auto;
    margin-top: 200px;
    margin-left: 350px;
    background: transparent;
    padding-bottom: 30px;
    transform: translate(-35%, -15%) scale(0.95); 
}

.image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.image-container img {
    width: 600px; /* Largura fixa */
    height: 600px; /* Altura fixa */
    object-fit: cover; /* Ajusta o conteúdo da imagem para preencher o espaço */
    border-radius: 8px; /* Mantém os cantos arredondados */
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.text {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #fff;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 580px;
    height: 80px;
    background: #eaeaea;
    border-radius: 40px;
    
}

.input img {
    margin: 0 30px;
    width: 30px;
    height: 30px;
    object-fit: contain;

}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
  
}

.forgot-password {
   
    padding-left: 62px;
    margin-top: 50px;
    color: #b1aeae;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

.forgot-password span {
    color: #6924ca;
    cursor: pointer
}

.forgot-password span:hover {
    text-decoration: underline;
    color: #7d2fea;
}


.login {
   
    padding-left: 62px;
    margin-top: 10px;
    color: #b1aeae;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    
}

.login span {
    color: #6924ca;
    cursor: pointer
}

.login span:hover {
    text-decoration: underline;
    color: #7d2fea;
}




.sinup {
   
    padding-left: 62px;
    color: #b1aeae;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    margin-top: 50px;
}

.sinup span {
    color: #6924ca;
    cursor: pointer
}

.sinup span:hover {
    text-decoration: underline;
    color: #7d2fea;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}


.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    background: #6924ca;
    color: #fff;
    transition: 0.3s;
}

.gray{
    background: #eaeaea;
    color: #676767;

}



/*  animacoes */


