.user-profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent; /* Cor de fundo roxa escura, similar ao tema */
    color: #fff; /* Cor do texto lilás */
    padding: 20px;
  }
  
  .profile-container {
    background-color: #423665; /* Um tom mais claro de roxo para o container */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    text-align: left;
    transform: scale(1.1); /* Aumenta o tamanho do container */
  }
  
  .profile-title {
    font-size: 2.5em;
    color: #A786DF; /* Um tom de roxo mais vibrante para o título */
    margin-bottom: 30px;
    text-align: center;
  }
  
  .profile-info {
    margin-bottom: 30px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .info-label {
    font-weight: bold;
    width: 200px;
    margin-right: 15px;
    color: #a886e3; /* Uma cor de destaque */
  }
  
  .info-value {
    font-size: 1.1em;
  }
  

   .edit-profile-button, .logout-button, .back-button {
    background-color: #A786DF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    transform: scale(0.8);
  }
  
  .edit-profile-button:hover, .logout-button:hover , .back-button:hover {
    background-color: #8C6BB3;
  } 